<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "individual elements/wrapper.html" %}
    <meta charset="UTF-8">
    <title>New password</title>
</head>
<body>
{% block content %}

    <div class="container" style="background-color: white;width: 50%">
        <h2>New password</h2>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input class="btn login_button" type="submit" name="Update Password" value="Send">
        </form>
    </div>
{% endblock %}
</body>
</html>