<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "individual elements/wrapper.html" %}
    <meta charset="UTF-8">
    <title>Password reset sent</title>
</head>
<body>
{% block content %}
    <br>
    <div class="container" style="text-align: center !important;">
        <h2>Password reset sent</h2>
        <br>
        <p style="text-align: justify">
            We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.
            If you don't receive an email, please make sure you've entered the address you registered with, and check
            your spam folder.
        </p>
    </div>
{% endblock %}
</body>
</html>